{
    "presets": ["next/babel"],
    "plugins": [
        [
            "import",
            {
                "libraryName": "antd",
                "style": false
            }
        ],
        [
            "styled-components",
            { "ssr": true, "displayName": true, "preprocess": false }
        ]
    ]
}
