@tailwind base;
@tailwind components;
@tailwind utilities;

.transition-all {
    transition: all 100ms ease-in-out;
}

.rotate-0deg {
    transform: rotate(0deg) !important;
}

.rotate-90deg {
    transform: rotate(90deg) !important;
}

.ant-tooltip-inner {
    @apply bg-gray-500;
    @apply py-1;
}

.ant-tooltip-arrow::before {
    @apply bg-gray-500;
}
