@tailwind base;
@tailwind components;
@tailwind utilities;

.transition-all {
    transition: all 100ms ease-in-out;
}

.rotate-0deg {
    transform: rotate(0deg) !important;
}

.rotate-90deg {
    transform: rotate(90deg) !important;
}

/* Remove antd global style */
a:hover {
    color: inherit !important;
}

/* Tooltip custom */
.ant-tooltip-inner {
    @apply bg-gray-500;
    @apply py-1;
}

.ant-tooltip-arrow::before {
    @apply bg-gray-500;
}

/* Autocomplete custom */
.ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-disabled) {
    @apply bg-gray-200;
}
.ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled) {
    @apply bg-gray-200;
}

/* Dropdown custom  */
.ant-dropdown-menu {
    @apply p-1;
}

.ant-dropdown-menu-item {
    @apply rounded-sm;
}
